body{font-size: 12px;color: brown;}
h1 {font-size: 24px;color: cornflowerblue;}
h2 {font-size: 20px;color: darkblue;}
span {font-size: 18px;color: rgb(89, 73, 97);}
body{font-size: 12px;color: brown;}
dd {font-size: 24px;color: cornflowerblue;}
dt {font-size: 20px;color: darkblue;}
li {font-size: 18px;color: darkorchid;}